<div class="container-lg my-5">
  <app-header></app-header>
  <div class="table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Category</th>
          <th scope="col">Top Gainers</th>
          <th scope="col">24h Volume</th>
          <th scope="col" class="text-end">Market Cap</th>
        </tr>
      </thead>
      <tbody *ngIf="categories.length > 0">
        <tr *ngFor="let category of categories; index as i" class="my-3">
          <th scope="row">{{ i + 1 }}</th>
          <td>
            <a class="btn" [routerLink]="['/coins/', category.id]">
              {{ category.name }}
            </a>
          </td>
          <td>
            <img
              *ngFor="let item of category.top_3_coins"
              src="{{ item }}"
              alt="{{ item }}"
              class="m-2"
              width="25"
              height="25"
            />
          </td>
          <td>
            {{
              category.volume_24h
                | currency
                  : this.globalService.currencyCode
                  : this.globalService.currencySymbol
            }}
          </td>
          <td class="text-end">
            {{
              category.market_cap
                | currency
                  : this.globalService.currencyCode
                  : this.globalService.currencySymbol
            }}
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="categories.length == 0">
      <p class="placeholder-glow">
        <span class="placeholder col-12"></span>
      </p>

      <p class="placeholder-wave">
        <span class="placeholder col-12"></span>
      </p>
    </div>
  </div>
</div>
