<div class="container-lg my-5">
  <app-header></app-header>
  <div class="row">
    <div class="col-lg-9">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th scope="col">
                <div class="d-block">
                  <button class="btn btn-sm me-2" (click)="sortPage('id', 0)">
                    <i class="bi bi-sort-up"></i>
                  </button>
                  <button class="btn btn-sm" (click)="sortPage('id', 1)">
                    <i class="bi bi-sort-down"></i>
                  </button>
                </div>
                #
              </th>
              <th scope="col">Coin</th>
              <th scope="col">Price</th>
              <th scope="col">
                <div class="d-block">
                  <button
                    class="btn btn-sm me-2"
                    (click)="sortPage('volume', 0)"
                  >
                    <i class="bi bi-sort-up"></i>
                  </button>
                  <button class="btn btn-sm" (click)="sortPage('volume', 1)">
                    <i class="bi bi-sort-down"></i>
                  </button>
                </div>
                24h Volume
              </th>
              <th scope="col" class="text-end">
                <div class="d-block">
                  <button
                    class="btn btn-sm me-2"
                    (click)="sortPage('market_cap', 0)"
                  >
                    <i class="bi bi-sort-up"></i>
                  </button>
                  <button
                    class="btn btn-sm"
                    (click)="sortPage('market_cap', 1)"
                  >
                    <i class="bi bi-sort-down"></i>
                  </button>
                </div>
                Market Cap
              </th>
            </tr>
          </thead>
          <tbody *ngIf="cryptocurrencies.length > 0">
            <tr
              *ngFor="let currency of cryptocurrencies; index as i"
              class="my-3"
            >
              <th scope="row">{{ i + 1 }}</th>
              <td>
                <a class="btn" [routerLink]="['/coin/', currency.id]">
                  <img
                    src="{{ currency.image }}"
                    alt="{{ currency.name }}"
                    width="25"
                    height="25"
                  />
                  <strong>
                    {{ currency.name }}
                  </strong>
                </a>
              </td>
              <td>
                {{
                  currency.current_price
                    | currency
                      : this.globalService.currencyCode
                      : this.globalService.currencySymbol
                }}
              </td>
              <td>
                {{
                  currency.total_volume
                    | currency
                      : this.globalService.currencyCode
                      : this.globalService.currencySymbol
                }}
              </td>
              <td class="text-end">
                {{
                  currency.market_cap
                    | currency
                      : this.globalService.currencyCode
                      : this.globalService.currencySymbol
                }}
              </td>
            </tr>
          </tbody>
        </table>
        <div *ngIf="cryptocurrencies.length == 0">
          <p class="placeholder-glow">
            <span class="placeholder col-12"></span>
          </p>

          <p class="placeholder-wave">
            <span class="placeholder col-12"></span>
          </p>
        </div>
      </div>
      <nav class="nav justify-content-between">
        <button
          class="btn btn-outline-primary rounded rounded-5 fw-bold"
          id="previousButton"
          (click)="previousPage()"
        >
          <i class="bi fs-3 bi-chevron-compact-left"></i>
        </button>

        <nav class="nav justify-content-between">
          <div></div>
          <div>
            <div class="dropdown">
              <a
                class="btn btn-primary"
                href="#"
                role="button"
                data-bs-toggle="dropdown"
                aria-expanded="false"
              >
                Loaded ({{ itemsPerPage }})
              </a>

              <ul class="dropdown-menu">
                <li *ngFor="let num of countOfItems">
                  <button class="btn dropdown-item" (click)="loadPerPage(num)">
                    {{ num }}
                  </button>
                </li>
              </ul>
            </div>
          </div>
        </nav>

        <button
          class="btn btn-outline-primary rounded rounded-5 fw-bold"
          id="nextButton"
          (click)="nextPage()"
        >
          <i class="bi fs-3 bi-chevron-compact-right"></i>
        </button>
      </nav>
    </div>
    <div class="col-lg-3">
      <div class="p-3">
        <h3>List Categories</h3>
        <ul class="list-group list-group-flush">
          <li
            *ngFor="let category of categories_view; let index = index"
            [routerLink]="['/coins', category.category_id]"
            class="btn list-group-item text-start"
          >
            {{ index + 1 }}
            {{ category.name }}
          </li>
        </ul>
        <div class="text-center">
          <button id="moreButton" (click)="moreCategories()" class="btn btn-lg">
            <i class="bi bi-three-dots"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
